

:host(){
    --primary-color: #5e5af9;
    --primary-color-fade-1: #dce1ff;
}


.control-btn {
    height: 2rem;
    width: max-content;
    padding-inline: 1rem;
    line-height: 1.875rem;
    border-radius: 1rem;
    border: none;
    appearance: none;
    white-space: normal;
    user-select: none;
    font-family: inherit;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    svg{
        width: 20px;
        height: 20px;
        fill: white;
    }

    &:disabled{
        cursor: not-allowed !important;
        pointer-events: none !important;
        filter: saturate(0) !important;
    }
}

.control-btn.save{
    background-color: var(--primary-color);
    color: white;

    svg{
        fill: white;
    }
}

.control-btn.cancel{
    background-color: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);

    svg{
        fill: var(--primary-color);
    }
}

.aad-main-section{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    overflow: auto;
}

.header-section{
    width: 100%;
    text-align: center;
    padding: 1rem 1.5rem;
    background: var(--primary-color-fade-1);
    border-radius: 12px;
    color: var(--primary-color);
}

.header-section h1{
    font-size: 28px;
    margin: 0;
    font-weight: 700;
}
.header-section p{
    font-size: 14px;
    font-weight: 400;
}

.gemini-field-section, .prompt-editor-section{
    width: min(100%, 1080px);
    margin-inline: auto;
}

.info-class{
    width: 100%;
    border-radius: 8px;
    padding: 1rem;
    color: var(--primary-color);
    background: linear-gradient(to right, #D9D8FF66, #BFD6FF66);

    h2{
        font-weight: 600;
    }

    p{
        font-weight: 500;
        color: #6d6e70;
    }
}

.btn-section{
    width: 100%;
}

.hr-line{
    border-block-start: 2px solid var(--primary-color);
}

.input-section {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid grey;
    background: whitesmoke;
}