:host{
    --primary-color: #5e5af9;
}

audio::-webkit-media-controls-panel {
    background: #fff;
}

.control-btn {
    height: 2rem;
    width: max-content;
    padding-inline: 1rem;
    line-height: 1.875rem;
    border-radius: 1rem;
    border: none;
    appearance: none;
    white-space: normal;
    user-select: none;
    font-family: inherit;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;

    svg{
        width: 20px;
        height: 20px;
    }

    &:disabled{
        cursor: not-allowed !important;
        pointer-events: none !important;
        filter: saturate(0) brightness(1.5) !important;
    }
}

.output-audio{
    height: 2rem;
}
.header-info{
    background: #dce1ff;
    padding: 1rem;
    border-radius: 12px;
}
.header-info .title{
    font-size: 24px;
    color: var(--primary-color);
    font-weight: 600;

    svg{
        width: 32px;
        height: 32px;
        fill: var(--primary-color);
    }
}
.header-info .sub-info{
    font-size: 14px;
    color: #9491ff;
}

.empty-state .title{
    font-size: 16px;
}

.empty-state .sub-info{
    font-size: 14px;
}

.recording-section{
    display: block;
    margin-inline: 1rem;
}

.clip-list-section{
    padding-inline: 1rem;
}

.spinner-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.log-list-title{
    font-size: 20px;
    color: var(--primary-color);
    font-weight: 600;
    
    svg{
        width: 24px;
        height: 24px;
        fill: var(--primary-color);
    }
}

.single-clip {
    padding: 1rem;
    border-radius: 12px;
    background: #e5e5e5;

    svg{
        width: 22px;
        height: 22px;
        fill: #595959;
    }
}

.clip-info{
    /* display: flex;
    align-items: center; */
    gap: 0.5rem;
}

.delete-btn{
    background: #e3066a;
    color: white;

    svg{
        width: 20px;
        height: 20px;
        fill: white;
    }
}