.visualizer {
    width: min(300px, 100%);
    border: 1px solid #ccc;
    border-radius: 16px;
    height: 2rem;
    display: none;
}

.visualizer[data-display=true]{
    display: block;
}

.clip p {
    cursor: pointer;
    font-weight: bold;
}

.output-audio{
    height: 2rem;
}