.main-container{
    margin: 25px 15px;
}

.input-container {
    width: 75%;
}

.header-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.header-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.section-layout {
    padding: 24px;
    border: 1px solid #DADFE3;
    border-radius: 5px;
    background: #F7F9FC;
    margin-bottom: 15px;
}

.lang-dropdown {
    min-width: 180px;
}

.button-container {
    display: flex;
    justify-content: left;
    align-items: end;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.spinner-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.divider {
    margin: 20px 0;
}

.result-text {
    font-size: 1rem;
}

.manager-info-message {
    margin-block: 10px;
    color: #3a3a3a;
    background: whitesmoke;
    padding: 8px 12px;
}

@media(max-width: 600px) {
    .header-row {
        flex-direction: column;
        align-items: flex-start;
    }
    .input-container {
        width: 100%;
    }
}