.status{
    width: 30%;

}
.textcolor{
    width: 30%;

}
.backgroundcolor{
    width: 30%;

}
.statusform{
    min-width: 200px;

}
.textcolorform{
    min-width: 200px;

}
.backgroundcolorform{
    min-width: 200px;

}